# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
/staticfiles/
media/

# Virtual environment
venv/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Nested git repositories
django_ai_dashboard_dev/